
pids
*.pid
*.seed
*.pid.lock

lib-cov
.nuxt
dist
.cache/

.vuepress/dist

.serverless/
.fusebox/

.dynamodb/

.tern-port


coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

typings/
node_modules
.node_modules
.env
.DS_Store

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

*.tsbuildinfo

.npm

.eslintcache

.rpt2_cache/
.
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

rts2_cache_cjs/
.rts2_cache_es/

.env
.env.test

.cache

.next


